# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# OS-specific
.DS_Store

# VSCode
.vscode/

# PyInstaller build artifacts
build/
dist/
*.spec

# Virtual environments
venv/
pyside_env/

# Environment variable files
.env

# Project folders
Projects/
