imageio==2.37.0
matplotlib==3.10.7
numpy==2.3.3
opencv_contrib_python==4.12.0.88
opencv_python==4.12.0.88
pydicom==3.0.1
PySide6==6.9.0
PySide6==6.10.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
scipy==1.16.2
SimpleITK==2.4.1
SimpleITK==2.5.2
skimage==0.0
TotalSegmentator==2.8.0
vtk==9.5.0